.idea/*
homework_4/.idea/*
homework_5/.idea/*
homework_6/.idea/*
homework_7/.idea/*
homework_8/.idea/*
homework_9/.idea/*
homework_10/.idea/*
homework_11/.idea/*
homework_12/.idea/*
homework_13/.idea/*
homework_14/.idea/*
homework_15/.idea/*
homework_16/.idea/*
homework_17/.idea/*
atestat/.idea/*