* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 8px;
  background: #fcfffc;
}

.header {
  position: relative;
  background: blue;
  width: 1440px;
  height: 89px;
}

.header__title {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 63px;
  color: #FFFFFF;
  text-align: left;
  padding-left: 29px;
  padding-top: 13px;
}

.app {
  display: flex;
}

.links {
  position: relative;
  background: #ffffff;
  width: 288px;
  height: 699px;
  top: 5px;
}

.links__title {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: #050404;
  padding-bottom: 5px;
  padding-left: 7px;
}

.links__item-link {
  font-family: "Roboto Light";
  font-size: 24px;
  text-align: left;
  color: #FF710B;
  padding-left: 5px;
}

.links__item-link:hover {
  color: blue;
}

.links__item-link:active {
  color: orange;
}

.links__item-link:visited {
  color: red;
}

.address-book {
  position: relative;
  background: #fcfffc;
  text-align: left;
  width: 1152px;
  height: 699px;
  top: 5px;
  left: 0px;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  padding-left: 5px;
}

.address-book__name {
  position: sticky;
  width: 1135px;
  top: 0;
  left: 0;
  z-index: 1;
  background: #0000ff;
  color: white;
  font-family: "Roboto Light";
  font-size: 28px;
  padding-left: 10px;
}

.address-book__address-item {
  width: 100px;
}

.addres-book__addres-link {
  color: #090404;
  font-family: "Roboto Light";
  font-size: 28px;
  border: none;
}

.addres-book__addres-dropdown {
  display: none;
  position: absolute;
  left: 35px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  min-width: 200px;
  box-shadow: 0px 0px 20px 0px #949393;
  z-index: 2;
}

/*.addres-book__addres-dropdown .addres-book__addres-link:hover {*/
/*  background-color: #0000ff;*/
/*}*/

.address-book__address-item:hover .addres-book__addres-dropdown {
  display: block;
}

.address-book__address-item:hover {
  background: #e3e3f8;
  width: 1130px;
}

.footer {
  display: block;
  width: 1440px;
  height: 30px;
  background: #5b5bc4;
  text-align: center;
  padding-top: 7px;
  color: #090404;
}