* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 8px;

  background: #fcfffc;
}

.address-book {
  position: relative;
  background: hwb(240 1% 3%);
  border-radius: 10px;
  width: 1205px;
  height: 50px;
}

.address-book-header {
  font-family: Arial;
  text-align: left;
  font-size: 30px;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
}

.address-book-link {
  position: relative;
  background: #b5b5ee;
  border-radius: 10px;
  width: 300px;
  height: 500px;
  left: 0px;
  top: 5px;
}

.addressbook-link__header {
  font-size: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-bottom: 15px;
}

.address-book-link__link {
  display: block;
  font-size: 20px;
  text-align: left;
  color: greenyellow;
  padding-left: 7px;
}

.address-book-link__link:hover {
  color: blue;
}

.address-book-link__link:active {
  color: orange;
}

.address-book-link__link:visited {
  color: red;
}

.address-book-adress {
  position: relative;
  background: #f1efef;
  border: 2px solid aqua;
  border-radius: 10px;
  text-align: left;
  width: 900px;
  height: 500px;
  top: -495px;
  left: 305px;
  overflow-y: auto;
}

.address-book-adress::-webkit-scrollbar { 
  width: 10px;
 } 


 .address-book-adress::-webkit-scrollbar-track { 
  background: #f1efef;
  border-radius: 5px;
}


.address-book-adress::-webkit-scrollbar-thumb { 
  background: #fff;
  border-radius: 5px;
}


.address-book-adress::-webkit-scrollbar-thumb:hover { 
  background: #555;
}

ul {
  list-style-type: none;
  padding-left: 5px;
}

.address-book-adress__name {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: #0000ff;
  color: white;
  padding-left: 10px;
}

.droplnk {
  color: #090404;
  font-size: 15px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 35px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  min-width: 200px;
  box-shadow: 0px 0px 20px 0px #949393;
  z-index: 2;
}

.dropdown-content a:hover {
  background-color: #0000ff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  display: block;
  width: 1205px;
  height: 20px;
  background: #5b5bc4;
  border-radius: 5px;
  text-align: center;
  color: #090404;
}