* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.woff2") format("woff2"),
  url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 8px;
  background: #fcfffc;
}

.header {
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 89px;
  background: #590bff;
}

.header__title {
  padding-left: 29px;
  padding-top: 13px;
  font-family: "Roboto", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  text-align: left;
  line-height: 63px;
  color: #FFFFFF;
}

.app {
  display: flex;
}

.links {
  position: relative;
  top: 5px;
  width: 30%;
  max-width: 350px;
  height: 699px;
  background: #ffffff;
}

.links__title {
  padding-bottom: 5px;
  padding-left: 7px;
  font-family: "Roboto", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: #050404;

}

.links__link {
  padding-left: 5px;
  font-family: "Roboto", "Arial";
  font-size: 24px;
  text-align: left;
  color: #FF710B;
}

.links__link:hover {
  color: blue;
}

.links__link:active {
  color: orange;
}

.links__link:visited {
  color: red;
}

.address-book {
  position: relative;
  top: 5px;
  width: 1090px;
  height: 699px;
  text-align: left;
  background: #fcfffc;
  overflow-y: auto;
}

ul {
  list-style-type: none;
  padding-left: 5px;
}

.address-book__name {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding-left: 10px;
  background: #590bff;
  font-family: "Roboto", "Arial";
  font-size: 28px;
  color: white;
}

.address-book__list {
  padding-top: 10px;
  padding-bottom: 20px;
}

.address-book__item {
  width: 60px;
}

.address-book__link {
  font-family: "Roboto", "Arial";
  font-size: 28px;
  color: #090404;
  border: none;
}

.address-book__dropdown {
  position: absolute;
  left: 35px;
  z-index: 2;
  min-width: 200px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #949393;

}

.address-book__item:not(:hover) .address-book__dropdown {
  display: none;
}

.address-book__item:hover {
  width: 100%;
  background: #e3e3f8;
}

.footer {
  display: block;
  width: 100%;
  max-width: 1440px;
  height: 30px;
  padding-top: 7px;
  margin-top: 10px;
  text-align: center;
  background: #590bff;
}