

.pink-yellow {
  background: linear-gradient(40deg, rgb(254, 192, 203) 50%, yellow 50%);
}

.txt {
  text-align: left;
}

.name {
  text-align: center;
}

.numer {
  background: 200px 300px

}

.container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}