.calc {
  display: grid;
  column-gap: normal;
  gap: 20px;
  height: 300px;
  width: 200px;
  align-self: center;
  margin: 40px auto;
  background: #80bdff;
  text-align: center;
}

input {
  text-align: center;
}