* {
  box-sizing: border-box;
}

:root {
  --all-color: #787878;
  --txt-color: #cccccc;
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.woff2") format("woff2"),
  url("fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background: #1A226B;
}

.box {
  display: block;
  position: relative;
  top: 100px;
  width: 600px;
  height: 412px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 0 0 40px 10px #1A226B;
  background: white;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-header {
  position: relative;
  width: 115px;
  height: 50px;
  align-self: center;
  font-family: "Roboto";
  font-size: 50px;
  font-weight: bold;
  color: var(--all-color);
}
p {
  margin: 0;
}

.form-email {
  padding-top: 30px;
  padding-left: 25px;
}

.form-email__title {
  padding-top: 5px;
  padding-left: 5px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  color: var(--all-color);
  user-select: none;
}

.form-email__input {
  width: 510px;
  height: 49px;
  padding-left: 5px;
  border: 2px solid var(--all-color);
  border-radius: 10px;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: bold;
  color: var(--all-color);
}

.form-email__input::placeholder {
  font-family: "Roboto";
  font-size: 28px;
  font-weight: bold;
  color: var(--txt-color);
}

.form-password {
  padding-top: 20px;
  padding-left: 25px;
}

.form-password__title {
  padding-top: 5px;
  padding-left: 5px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  color: var(--all-color);
  user-select: none;
}

.form-password__input {
  width: 510px;
  height: 49px;
  padding-left: 5px;
  border: 2px solid var(--all-color);
  border-radius: 10px;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: bold;
  color: var(--all-color);
}
.form-password__input::placeholder {
  font-family: "Roboto";
  font-size: 28px;
  font-weight: bold;
  color: var(--txt-color);
}

.form-consent__input {

}

.form-consent__agreement {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 25px;
  font-family: "Roboto";
  font-size: 9px;
  font-weight: bold;
  color: var(--all-color);
}

.form-consent__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form-consent__input+.form-consent__agreement {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.form-consent__input+.form-consent__agreement::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--all-color);
  border-radius: 5px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form-consent__input:checked+.form-consent__agreement::before {
  border-color: #0b76ef;
  /*background-color: #0b76ef;*/
  background-image: url("images/chekOk.png");
}

.form-consent__input:not(:disabled):not(:checked)+.form-consent__agreement:hover::before {
  border-color: #b3d7ff;
}

.form-consent__input:not(:disabled):active+.form-consent__agreement::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.form-consent__input:focus+.form-consent__agreement::before {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.form-consent__input:focus:not(:checked)+.form-consent__agreement::before {
  border-color: #80bdff;
}

.form-consent__input:disabled+.form-consent__agreement::before {
  background-color: #e9ecef;
}

.form-button {
  align-self: center;
  width: 180px;
  height: 52px;
  background: #1A226B;
  border-radius: 10px;
  align-self: center;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}