*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

p {
  margin: 0;
}

:root {
  --all-color: #787878;
  --font-actin: #1A226B;
}

html {
  height: 100%;
  margin: 0 auto;
}

body {
  display: grid;
  gap: 125px;
  justify-items: center;
  padding-bottom: 125px;
}

header {
  width: 100%;
  max-width: 1440px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Inter';
  font-weight: 700;
}

.nav-bar__img {
  flex: 1 2 15%;
  margin: 18px 30px;
  width: 220px;
  height: 50px;
  object-fit: cover;
}

.nav-bar__header {
  flex: 1 2 55%;
  font-size: 36px;
  color: var(--all-color);
}

.nav-bar__link {
  display: flex;
  justify-content: space-around;
  flex: 0 2 20%;
  text-align: center;
  font-size: 24px;
  color: var(--all-color);
}

.nav-bar__link-registration {
  text-decoration: none;
  color: var(--font-actin);
}

.nav-bar__link-enter {
  text-decoration: none;
  color: var(--all-color)
}

.form-registration {
  display: grid;
  justify-self: center;
  gap: 10px;
  width: 600px;
  padding: 19px 45px 37px;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
  background: white;
  font-family: 'Roboto';
  font-weight: bold;
}


.registration-header {
  align-self: center;
  text-align: center;
  font-size: 50px;
  color: var(--all-color);

}

.registration-email {
  align-self: center;

}

.registration-email__title {
  padding-bottom: 3px;
  font-size: 16px;
  color: var(--all-color);
  user-select: none;
}

.registration-email__input {
  width: 510px;
  height: 49px;
  padding-left: 15px;
  border: 2px solid var(--all-color);
  font-size: 28px;
  font-weight: bold;
  color: var(--all-color);
}

.registration-email__input::placeholder {
  font-size: 28px;
  font-weight: bold;
  color: #cccccc;
}

.registration-password {
  align-self: center;
}

.registration-password__title {
  padding-bottom: 3px;
  font-size: 16px;
  color: var(--all-color);
  user-select: none;
}

.registration-password__input {
  width: 510px;
  height: 49px;
  padding-left: 15px;
  border: 2px solid var(--all-color);
  font-size: 28px;
  color: var(--all-color);
}

.registration-password__input::placeholder {
  font-size: 28px;
  font-weight: bold;
  color: #cccccc;
}

.registration-sex__title {
  margin: 0px 0 6px -2px;
  font-size: 16px;
  font-weight: 700;
  color: var(--all-color);
}

.registration-sex__label {
  font-size: 14px;
  font-weight: normal;
  color: var(--all-color);
  line-height: 0.9;
  display: grid;
  grid-template-columns: 10px auto;
  gap: 20px;
}

.registration-sex__label + .registration-sex__label {
  margin-top: 10px;
}

.registration-sex__input {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: var(--all-color);
  width: 20px;
  height: 20px;
  border: 2px solid var(--all-color);
  border-radius: 50%;
  transform: translateY(-4px);
}

.registration-sex__input {
  display: grid;
  place-content: center;
}

.registration-sex__input::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: scale(0);
  transition: 220ms transform ease-in-out;
  box-shadow: inset 10px 10px var(--all-color);
}

.registration-sex__input:checked::before {
  transform: scale(1);
}

.registration-info {
  width: 100%;
  height: 266px;
  margin-top: -5px;
  margin-bottom: 20px;
}

.registration-info__title {
  padding-bottom: 5px;
  font-size: 16px;

  color: var(--all-color);
}

.registration-info__about {
  width: 100%;
  height: 246px;
  border: 2px solid var(--all-color);
  resize: none;
  padding-left: 15px;
  font-size: 28px;
  font-weight: 700;
  color: var(--all-color);
}

.registration-info__about::placeholder {
  font-size: 28px;
  font-weight: bold;
  color: #cccccc;
}

.registration-agreement {
  font-size: 14px;
  font-weight: normal;
  color: var(--all-color);
  line-height: 1.5;
  display: grid;
  grid-template-columns: 0px auto;
  gap: 28px;
  margin-bottom: 45px;
}

.registration-agreement__input {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: var(--all-color);
  width: 20px;
  height: 20px;
  border: 2px solid var(--all-color);
}

.registration-agreement__input {
  display: grid;
  place-content: center;
}

.registration-agreement__input::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  transition: 220ms transform ease-in-out;
  box-shadow: inset 10px 10px var(--all-color);
}

.registration-agreement__input:checked::before {
  transform: scale(1);
}

.registration-button {
  align-self: center;
  text-align: center;
  width: 180px;
  height: 52px;
  background: var(--font-actin);
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  border: none;
}

.enter {
  align-self: center;
  text-align: center;
}

